<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Post Editing"</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Updating a post</h1>
  <form method="post">
    <input type="text" th:value="${post.title}" name="title" placeholder="Enter a post's title" class="form-control"><br>
    <input type="text" th:value="${post.intro}" name="intro" placeholder="Create a short intro for the article" class="form-control"><br>
    <textarea name="full_text" placeholder="Write a post!" class="form-control" th:text="${post.full_text}"/><br>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>