<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Site's blog"</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Site's blog</h1>
    <h3 th:text="${post.title}"/>
    <p th:text="${post.full_text}"/>
    <p><b>Views:</b> <span th:text="${post.views}"/></p>
    <a th:href="'/blog/' + ${post.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
  <form th:action="'/blog/' + ${post.id} + '/delete'" method="post">
    <button type="submit" class="btn btn-warning">Delete</button>
  </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>